<h3>Page d'accueil</h3>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
    <div class="carousel-inner">
        <div class="carousel-item active centered">
            <img src="assets/images/Logo_Reseau_Polytech.svg" class="logo" alt="Polytech" />
        </div>
        <div class="carousel-item centered">
            <img src="assets/images/Node.js_logo.svg" class="logo" alt="Node.js" />
        </div>
        <div class="carousel-item centered">
            <img src="assets/images/logo.svg" class="logo" alt="Angular" />
        </div>
        <div class="carousel-item centered">
            <img src="assets/images/typescript.svg" class="logo" alt="Typescript" />
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>